[Desktop Entry]
Name=Extract Here
Name[nl]=Hier uitpakken
Name[ru]=Распаковать сюда
Name[de]=Hier entpacken
Name=[it]=Estrai qui
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/x-*;application/gzip;application/java-archive;application/vnd.android.package-archive;application/vnd.debian.binary-package;application/vnd.ms-cab-compressed;application/x-xz;application/zip;application/zstd;application/x-7z-compressed
X-KDE-Priority=TopLevel
Actions=extract

[Desktop Action extract]
Name=Extract Here
Name[nl]=Hier uitpakken
Name[ru]=Распаковать сюда
Name[de]=Hier entpacken
Name[it]=Estrai qui
Icon=archive-extract
Exec=ark -ba %u
